snippet f
	# frozen_string_literal: true

snippet b
	binding.pry

snippet bi
	binding.pry

snippet bp
	binding.pry

snippet pr
	binding.pry

snippet p
	binding.pry

snippet pry
	binding.pry

snippet t
	<%= t("${0}") %>

snippet l
	<%= t("${0}") %>

snippet d
	def ${1:method_name}
		${0}
	end

snippet de
	def ${1:method_name}
		${0}
	end

snippet df
	def ${1:method_name}
		${0}
	end

snippet def
	def ${1:method_name}
		${0}
	end

snippet dov
	do |${1:v}|
		${2}
	end

snippet do
  do
    ${0}
  end

snippet e
	each { |${1:e}| ${0} }

snippet ea
	each do |${1:e}|
		${0}
	end

snippet m
	map { |${1:e}| ${0} }

snippet ma
	map { |${1:e}| ${0} }

snippet map
	map { |${1:e}| ${0} }

snippet ma
	map do |${1:e}|
		${0}
	end

snippet i
	if ${1:condition}
		${0:${VISUAL}}
	end

snippet ip
	if ${1:condition}.present?
		${0:${VISUAL}}
	end

snippet ib
	if ${1:condition}.blank?
		${0:${VISUAL}}
	end

snippet if
	if ${1:condition}
		${0:${VISUAL}}
	end

snippet ie
	if ${1:condition}
		${2:${VISUAL}}
	else
		${0}
	end

snippet eli
	elsif ${1:condition}
		${0:${VISUAL}}

snippet el
	else
		${0:${VISUAL}}

snippet ife
	if ${1:condition}
		$2
	elsif ${3:condition}
		$4
	else
		$0
	end

snippet u
	unless ${1:condition}
		${0:${VISUAL}}
	end

snippet un
	unless ${1:condition}
		${0:${VISUAL}}
	end


snippet in
	def initialize(${1})
		${0}
	endf

snippet cla
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")`
     ${0}
  end

snippet s
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")` < BaseService
    def initialize(${2})
      ${1}
    end

    def call
      ${0}
    end
  end

snippet sh
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")` < BaseService
    def call
      ${0}
    end
  end

snippet con
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")` < ApplicationController
     ${0}
  end

snippet ct
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")` < ApplicationController
     ${0}
  end

snippet c
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")` < ApplicationViewComponent
    def initialize(${1})
      ${0}
    end
  end

snippet ch
	class ${1} < ApplicationViewComponent
		def initialize(${2})
			${0}
		end
	end

snippet mod
  class ` luaeval("GenerateRubyClassNameFromCurrentFilename()")` < ApplicationRecord
     ${0}
  end
